[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
requests-mock = "*"
python-decouple = "*"
pre-commit = "*"

[packages]
requests = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
